{% load static %}

<!doctype html>
<html lang="en">
<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{% static 'gis/css/olmap.css' %}">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>

<style>


.map {
      height: 700px;
      width: 100%;
          }
	  
</style>
<body>
	<div id="map" class="map"></div>
	</div>
  <script type="text/javascript">
    var mapName = "{{mapname}}";
    var mapDesc = "{{mapdescription}}";
    var mapControl = "{{mapcontrol}}";
  </script>
  <script type="text/javascript">
	  /*
    async function load_counties() {
        const pathArray = window.location.pathname.split('/')
        const slug = pathArray.at(-2)
	    const counties_url = `/api/map/` + slug + '/'
	    const response = await fetch(counties_url)
	    const json = await response.json()
	    return(json)
    }*/


	const parsed = JSON.parse(mapControl.replaceAll('&quot','"').replaceAll(';',''))
	const upper_limit_array = [0]
	const upper_limit_sort = function () {
		for (i=0; i < parsed.length; i++) {
				upper_limit_array.push(parsed[i].fields.upper_limit)
				}
}
    function getColorLive(d) {
      for (i=0; i < parsed.length; i++) {
	  if (d >=parsed[i].fields.lower_limit && d <=parsed[i].fields.upper_limit)
	    return parsed[i].fields.color
		        }
    }



    function render_counties() {
        const pathArray = window.location.pathname.split('/')
        const slug = pathArray.at(-2)
        const counties_url = `/api/map/` + slug + '/'
	//const counties = await load_counties()
	const shapeSource = new ol.source.Vector({
		ratio: 1, 
		params: {'LAYERS': 'show:0'},
		url: counties_url,
		format: new ol.format.GeoJSON()
	})
	const shapeLayer = new ol.layer.Vector({
		source: shapeSource,
		style: styleFunction,
		declutter: true
	});
	    map.addLayer(shapeLayer);
    }
	  var map = new ol.Map({
		      target: 'map',
		      controls: ol.control.defaults({ attribution: false }),
		      layers: [
			            new ol.layer.Tile({
					            source: new ol.source.OSM()
					          })
			          ],
		      view: new ol.View({
			            center: ol.proj.fromLonLat([-89.29, 40.63]),
			            zoom: 6
			          })
		    });
/*
    styleFunction = function(feature) {
	    let colors = ['red', 'blue', 'green', 'pink']
	      let stroke = new ol.style.Stroke({ color: 'yellow', width: 1 });
	      let randomIndex = Math.floor( Math.random() * 9 );
	      let fill = new ol.style.Fill({ color: colors[randomIndex] });
	      let style = new ol.style.Style({ stroke: stroke, fill: fill }); 
	    return style;
    }*/
    styleFunction = function(feature) {
	      let countyname= feature.A.countyname 
	      let floatvalue = feature.A.floatdata
	    let description = countyname + "\n" + floatvalue
	    let text = new ol.style.Text({text: description, font:'7px sans-serif', overflow:true })
	      let stroke = new ol.style.Stroke({ color: 'yellow', width: 1 });
	      let fill = new ol.style.Fill({ color: getColorLive(floatvalue) });
	      let style = new ol.style.Style({ stroke: stroke, fill: fill, text: text }); 
	    return style;
    }
render_counties()
  </script>
</html>

